@charset "utf-8";

/*

   Save your Fork Graphic Design Styles
   Author: Nadine Jackson  
   Date:   3/30/2022

   Filename: sf_effects.css

*/

/* Body Header Styles */

body {
   filter: drop-shadow( rgb(51, 51, 51) 10px 10px 50px) drop-shadow( rgb(51,51,51) 10px -10px 50px);
}

/* Navigation Tabs List Styles */

body > header nav.tabs {
   background: url('sf_back1.png') center center/ 100% no-repeat;
}

body > header nav.tabs li {
   transform: perspective(50px) rotateX(20deg);
}

body > header nav.tabs li:hover {
   background-color: rgb(231, 231, 231);
}

/* Left Section Styles */

nav.vertical {
   border: 1px solid rgb(20, 167, 170);
   border-radius: 25px;
}

.vertical h1 {
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}


/* Center Article Styles */

section#center article {
   background: radial-gradient(white 30%, rgb(151, 151, 151));
   border: 1px solid rgb(151, 151, 151);
   border-radius: 50px;
   box-shadow: rgb(51, 51, 51) 10px 10px 20px;
}


/* Blockquote Styles */

blockquote {
   background: url('sf_speech.png') no-repeat;
   background-size: 100% 100%;
   filter: drop-shadow(rgb(51, 51, 51) 5px 5px 10px);
}

cite img {
   border-radius: 50%;
}
